#desktop-view{
    display: none;
}

.desktop-boxes{
    position: relative;
}

.desktop-boxes::after{
     content: '';
     position: absolute;
     height: 8px;
     width: 60%;
     top: 50%;
    background-color: hsl(180deg, 66%, 49%);
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    margin: auto;
}


#footer-img:hover{
    filter: invert(75%) sepia(100%) saturate(463%) hue-rotate(115deg) brightness(86%) contrast(98%);
}


@media screen and (min-width:600px) {
    
    #desktop-view{
        display: block;
    }
    

   
 }